## Exercise: 1

In [1]:
#import required modules
try:
  import pandas as pd
  import numpy as np
  import re

except Exception as e:
    print("Modules Missing {}".format(e))

In [2]:
# read the csv
df = pd.read_csv('/content/coupons_ner.csv')
df.head()

  Save $2.00 ONE Downy Liquid Fabric Conditioner 72 ld or larger (includes Downy Odor Protect 48 oz or larger OR Downy Wrinkle Guard 40 oz or larger OR Downy Nature Blends 67 oz or larger) OR Bounce/Downy Sheets 130 ct or larger (includes Bounce/Downy Wrinkle Guard 80 ct or larger) OR In Wash Scent Boosters 8.6 oz or larger (includes Downy Unstopables, Fresh Protect, Odor Protect, and Infusions) (excludes Downy Libre Enjuague, Gain Fireworks, and trial/travel size).
0  Save $2.00 ONE Tide PODS OR Tide Power PODS (e...
1  Save $2.00 ONE Tide Laundry Detergent (exclude...
2  SAVE $1.00 ON TWO when you buy TWO BOXES (8.9 ...
3  $3.00 OFF when you purchase any THREE (3) Pepp...
4  SAVE $1.11 when you buy any ONE (1) Familly Si...

In [3]:
#conversion column names into first row
df = pd.DataFrame(np.vstack([df.columns, df]))

#rename the column to 'OfferDetails'
df = df.rename(columns={0: "OfferDetails"})
df.head()

                                        OfferDetails
0  Save $2.00 ONE Downy Liquid Fabric Conditioner...
1  Save $2.00 ONE Tide PODS OR Tide Power PODS (e...
2  Save $2.00 ONE Tide Laundry Detergent (exclude...
3  SAVE $1.00 ON TWO when you buy TWO BOXES (8.9 ...
4  $3.00 OFF when you purchase any THREE (3) Pepp...

In [4]:
#Write a function that takes OfferDetails as input, and returns FaceValue as output
def FaceValue_using_regex(df_text):
  Face_Value = []
  regex = r"[$¢]\s*[.,\d]+|[.,\d]+\s*[¢$]"
  for i in df_text:
    Face_Value.append(re.findall(regex, i, re.I)) # re.I: Performs case-insensitive matching.
  
  return Face_Value

In [5]:
# FaceValue column is having all the price details
df['FaceValue'] = [','.join(map(str, l)) for l in FaceValue_using_regex(df['OfferDetails'])]

In [6]:
df.tail()

                                          OfferDetails  FaceValue
881  SAVE $2.00 when you buy $7 worth of participat...   $2.00,$7
882  SAVE $5.00 on any Gain scented purchase of $30...  $5.00,$30
883  SAVE $1.00 when you buy any ONE (1) NEW AXE pr...      $1.00
884  BUY TWO GET ONE Buy ONE (1) CHIPS AHOY! Cookie...
885  SAVE $2.00 when you spend $6 on all Suave® pro...   $2.00,$6

In [13]:
# saving the dataframe 
df.to_csv('Coupons_FaceValue.csv', index=False)

## Exercise: 2

In [16]:
import spacy
from spacy import displacy
nlp = spacy.load('en')
text = df['OfferDetails'][0]
doc = nlp(text)

displacy.serve(doc, style='ent')

Using the 'ent' visualizer
Serving on http://0.0.0.0:5000 ...

Shutting down server on port 5000.

In [52]:
#Applying SpaCy's EntityRecognizer to a column within a Pandas dataframe
df['Product'] = df['OfferDetails'].apply(lambda x: nlp(x).ents)

In [53]:
df.head()

                                        OfferDetails  ...                                            Product
0  Save $2.00 ONE Downy Liquid Fabric Conditioner...  ...  ((2.00), (Downy, Liquid, Fabric), (72), (Downy...
1  Save $2.00 ONE Tide PODS OR Tide Power PODS (e...  ...  ((2.00), (Tide, Power, PODS), (Tide, Liquid, /...
2  Save $2.00 ONE Tide Laundry Detergent (exclude...  ...  ((2.00), (Tide, Purclean, Laundry, Detergent),...
3  SAVE $1.00 ON TWO when you buy TWO BOXES (8.9 ...  ...  ((1.00), (TWO), (TWO), (8.9, -, 15.2), (Genera...
4  $3.00 OFF when you purchase any THREE (3) Pepp...  ...  ((3.00), (THREE), (3), (Pepperidge, Farm), (Fa...

[5 rows x 3 columns]


Product column can be preprocessed furthor to achive the best result.